.App {
  text-align: left;
  background-color: peru;
  background-image: url(https://live.staticflickr.com/65535/52438188401_38d1f40132_b.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.Card {
  margin-top: 20px;
}
.divider {
  padding-top: 132px;
}